## npm packages
node_modules

## environment settings
server/environments/build.dev.ts

## definitely types
models/*
routes/*
middleware/*
test/*
environments/*
database/*
app.js
app.d.ts
server.js
server.d.ts
